<div class="links-container">
  <header class="projects-header">
    <div>
      <p></p>
    </div>
    <button class="dialog-close-btn" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="content-wrapper">
    <!-- LEFT -->
    <div class="header-text">
      <h2>{{cta.txt1}}</h2>

      <p class="primary-text"></p>

      <p class="cta-text">{{cta.txt4}}</p>

      <h5>{{cta.txt5}}</h5>
    </div>

    <!-- RIGHT (NEW WRAPPER FOR VERTICAL CENTER CONTROL) -->
    <div class="links-wrapper">
      <div class="links-grid">
        @for (link of socialLinks; track link.label) {
        <a [href]="link.url" target="_blank" class="link-card">
          <i [className]="link.icon"></i>
          <span>{{ link.label }}</span>
        </a>
        }
      </div>
    </div>
  </div>
</div>
